<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bish's Test Page - Rhett Poole" />
    <meta name="description" content="Bish's Test Page for service requests." />
    <meta
      name="keywords"
      content="Bish's, service, request, appointment, form, test, demonstration"
    />
    <meta property="og:type" content="website" />
    <meta name="author" content="Rhett Poole" />
    <title>Bish's Service Test Page</title>
    <!-- Flask version of a stylesheet call, better than hardcoded paths. Can potentially implement later. 
     - Read that inline styles in your HTML file can be better for load times than an external CSS file in the static folder. Can implement later if needed. -->
    <link
      rel="stylesheet"
      href="/static/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="/static/css/normalize.css"
    />
  </head>
  <body>
    <header class="disclaimer">
      ** Disclaimer - This application is for experimentation and demonstration
      purposes only. It is not intended for official use. Although labeled as a
      project for Bish's, it is solely a showcase of my development skills and
      should not be considered an official Bish's product. **
    </header>
    <header class="main-header">
      <a href="https://www.bishs.com/">  
      <img id='logo' src="/static/images/bishs-logo.png" href="https://www.bishs.com/?utm_term=&utm_campaign=PMAX+-+November+2024+-+AUT&utm_source=adwords&utm_medium=ppc&hsa_acc=5831457341&hsa_cam=22073950548&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiAy8K8BhCZARIsAKJ8sfQRXEHWWxAsLf7RFS393KIDcBHwvwPfQDD66J8tWQAgpH8VORSM3uUaAvzfEALw_wcB" alt="Bish's RV logo" 
        ></a>
      <nav>
        <ul>
          <li><a href="/" class="current">Service</a></li>
          <li><a href="sr_tracker">SR Tracker (In Progress)</a></li>
          <li>
            <a
              href="https://www.bishs.com/idaho-falls-idaho?utm_term=&utm_campaign=PMAX+-+November+2024+-+AUT&utm_source=adwords&utm_medium=ppc&hsa_acc=5831457341&hsa_cam=22073950548&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAnKi8BhB0EiwA58DA4YWkR0zjWTNtf9Pam7vJnCqpRsUr6R-Ub6vh6LW55b5f6rjMFR7qYRoCLB4QAvD_BwE"
              >Sales</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <img
      id="service-header"
      src="/static/images/service-header.jpg"
      alt="Photo of Bish's RV's external service counter and employees.">
    <div class="form-container">
      <h1>Service Request</h1>
      <form action="/send_email" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
        <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="message">List of repairs</label>
          <textarea id="message" name="message" rows="4" required></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
    <footer>
      <p id="copyright"></p>
      <p>United States of America |</p>
      <p id="lastModified">Last Modification:</p>
    </footer>
    <script>
      /* MODIFICATION TIMESTAMP
      let nLastModif = Date.parse(document.lastModified);
      // Format the timestamp into a readable date string
      let readableDate = new Date(nLastModif).toLocaleString();
      // Insert the formatted date into the "lastModified" element
      document.getElementById("lastModified").innerText += readableDate;
      */
      // COPYRIGHT SYMBOL AND YEAR
      // Get the copyright element
      const copyrightElement = document.getElementById("copyright");
      // Dynamically insert the copyright symbol and current year
      const currentYear = new Date().getFullYear();
      copyrightElement.innerHTML = `&copy; ${currentYear} Bish's RV - Made by: Rhett Poole | `;
    </script>
  </body>
</html>